{% extends 'base.html' %}

{% block title %}Galería - Lys Fotografías{% endblock %}

{% block content %}

<section style="padding: 100px 20px 40px; text-align: center; background: #fff;">
    <h2 style="font-family: 'Playfair Display', serif; font-size: 3rem; margin-bottom: 10px;">Nuestra Galería</h2>
    <p style="color: #666; max-width: 600px; margin: 0 auto;">Una selección de nuestros momentos favoritos capturados en 15 años, bodas y exteriores.</p>
</section>

<section style="background: #fff; padding-bottom: 4rem;">
    <h3 style="text-align: center; margin-bottom: 2rem; color: #333;">📸 Fotografías</h3>
    
    <div class="galeria-grid">
        <div class="foto-item">
            <img src="{{ url_for('static', filename='img/foto1.jpg') }}" alt="Foto 1">
        </div>

        <div class="foto-item">
            <img src="{{ url_for('static', filename='img/foto2.jpg') }}" alt="Foto 2">
        </div>

        <div class="foto-item">
            <img src="{{ url_for('static', filename='img/foto3.jpg') }}" alt="Foto 3">
        </div>

        <div class="foto-item">
            <img src="{{ url_for('static', filename='img/foto4.jpg') }}" alt="Foto 4">
        </div>

        </div>
</section>

<section style="background: #f4f4f4; padding: 4rem 1rem;">
    <h3 style="text-align: center; margin-bottom: 3rem; color: #333;">🎥 Shorts & Reels</h3>
    
    <div class="video-grid">

        <div class="video-item">
            <iframe  src="https://www.youtube.com/embed/OLV6Apw3yZ0" title="Video 1" frameborder="0"  allowfullscreen></iframe>
        </div>

        <div class="video-item">
            <iframe  src="https://www.youtube.com/embed/mPSoo_1ran0" title="Video 2" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="video-item">
            <iframe  src="https://www.youtube.com/embed/nxjdUkbFv8g" title="Video 3" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}