{% extends 'base.html' %}

{% block title %}Inicio - Lys Fotografías{% endblock %}

{% block content %}
    <section class="hero-fullscreen">
        <div class="hero-overlay">
            <div class="hero-content">
                <h2 class="animate-up">Capturando momentos únicos</h2>
                <p class="animate-up delay">Especialistas en 15 Años y Bodas</p>
                <a href="/galeria" class="btn-gold animate-up delay-2">Ver Portafolio</a>
            </div>
        </div>
    </section>
{% endblock %}